<div class="container d-flex justify-content-center wh-100 mt-5">
  <form [formGroup]="foodsForm" (ngSubmit)="test()">
    <div class="group-container">
      <div class="row justify-content-md-center">
        <mat-form-field appearance="outline">
          <mat-label>Select Meal</mat-label>
          <mat-select (selectionChange)="selectMeal($event.value)">
            <mat-option *ngFor="let meal of meal_types" [value]="meal">
              {{ meal.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <ng-container *ngFor="let meal of selectedMeals">
        <div class="row justify-content-md-center mt-3">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Search foods for {{ meal.meal_name }}</mat-label>
            <div class="input-icon-container">
              <input
                matInput
                placeholder="Search foods"
                [(ngModel)]="meal.search_food"
                [ngModelOptions]="{ standalone: true }"
                (keyup)="onFoodSearch($event, meal)"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let meal_food of meal_search_results"
                  [value]="meal_food.name"
                  (click)="pickFood(meal_food.id)"
                >
                  {{ meal_food.name }}
                </mat-option>
              </mat-autocomplete>
              <button
                mat-icon-button
                class="remove-icon"
                (click)="removeMealFromList(meal)"
                aria-label="Remove meal type"
              >
                <fa-icon [icon]="faXmark" size="2x"></fa-icon>
              </button>
            </div>
          </mat-form-field>
        </div>
      </ng-container>
    </div>

    <div class="group-container">
      <h3 class="header-3">Pick food</h3>
      <div class="row justify-content-md-center">
        <mat-form-field class="col" appearance="outline">
          <mat-label for="food_name">Search Food</mat-label>
          <input
            type="text"
            matInput
            formControlName="food_name"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let food of filteredFoods | async"
              [value]="food.name"
              (click)="pickFood(food.id)"
            >
              {{ food.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <button class="btn btn-outline-primary w-100 mt-1">Submit</button>
    </div>

    <div class="table-container">
      <h3 class="header-3">Picked foods / 100 grams</h3>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th class="text-center">Food Name</th>
            <th class="text-center">Energy(Kcal)</th>
            <th class="text-center">Carbs</th>
            <th class="text-center">Sugar</th>
            <th class="text-center">Fat</th>
            <th class="text-center">Fat(Saturated)</th>
            <th class="text-center">Protein</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dietFoodList; let i = index">
            <td class="text-center">{{ data.name.fi }}</td>
            <td class="text-center">
              {{ data.energyKcal | number : "1.2-2" }}
            </td>
            <td class="text-center">
              {{ data.carbohydrate | number : "1.2-2" }}
            </td>
            <td class="text-center">{{ data.sugar | number : "1.2-2" }}</td>
            <td class="text-center">{{ data.fat | number : "1.2-2" }}</td>
            <td class="text-center">
              {{ data.saturatedFat | number : "1.2-2" }}
            </td>
            <td class="text-center">{{ data.protein | number : "1.2-2" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
