<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="registerUser()">
    <div class="row justify-content-md-center">
      <h3 class="h3 text-center">Login</h3>
    </div>
    <div class="row justify-content-md-center">
      <!-- <mat-form-field class="col col-md-5" appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Enter username"
          type="text"
          formControlName="username"
          class="form-control"
          required
        />
      </mat-form-field> -->
    </div>
    <div class="row justify-content-md-center">
      <mat-form-field class="col col-md-5" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter email"
          type="text"
          formControlName="email"
          class="form-control"
          required
        />
      </mat-form-field>
    </div>
    <div class="row justify-content-md-center">
      <mat-form-field class="col col-md-5" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter password"
          type="password"
          formControlName="password"
          class="form-control"
          required
        />
      </mat-form-field>
    </div>
    <div class="row justify-content-md-center">
      <mat-error class="col col-md-5" *ngIf="showError"
        >Username or password are incorrect</mat-error
      >
    </div>
    <div class="row justify-content-md-center">
      <button class="btn btn-outline-primary col-md-3 mx-auto" type="submit">
        Login
      </button>
    </div>
  </form>
</div>
